services:
  client:
    build:
      context: ./POL_FE
      dockerfile: Dockerfile
    container_name: client
    # image: iqbalcodes6602/thinkshare-client:latest
    ports:
      - "80"
    environment:
      - REACT_APP_BACKEND_URL=/api
    depends_on:
      - server

  server:
    build:
      context: ./POL_BE
      dockerfile: Dockerfile
    container_name: server
    # image: iqbalcodes6602/thinkshare-server:latest
    ports:
      - "5000"
    environment:
      - MONGODB_URI=mongodb+srv://adi:hkTkrpfGe0PvmgIZ@cluster0.wb5mgsa.mongodb.net/pol_database?retryWrites=true&w=majority
      - PORT=5000

  proxy:
    build:
      context: ./proxy
      dockerfile: Dockerfile
    container_name: proxy
    # image: iqbalcodes6602/thinkshare-proxy:latest
    ports:
      - "80:80"
    depends_on:
      - client
      - server
