services:
  client:
    build:
      context: ./POL_FE
      dockerfile: Dockerfile
    container_name: client
    # image: itsadi24/pol-client
    ports:
      - '80'
    environment:
      - REACT_APP_BACKEND_URL=/api
    depends_on:
      - server

  server:
    build:
      context: ./POL_BE
      dockerfile: Dockerfile
    container_name: server
    # image: itsadi24/pol-server
    ports:
      - '5000'
    environment:
      - MONGODB_URI=${MONGODB_URI}
      - PORT=${PORT}
      - NODE_ENV=${NODE_ENV}
      - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
      - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
      - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRES_IN=7d
      - FRONTEND_URL=${FRONTEND_URL}

  proxy:
    build:
      context: ./proxy
      dockerfile: Dockerfile
    container_name: proxy
    # image: itsadi24/pol-proxy
    ports:
      - '80:80'
    depends_on:
      - client
      - server
