name: Build & Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Frontend (POL_FE)
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/pol-client:latest ./POL_FE
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/pol-client:latest

      - name: Build & Push Backend (POL_BE)
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/pol-server:latest ./POL_BE
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/pol-server:latest

      - name: Build & Push Proxy
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/pol-proxy:latest ./proxy
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/pol-proxy:latest

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          timeout: 30s
          command_timeout: 10m
          script: |
            cd /root/pol
            docker compose pull
            docker compose down
            docker compose up -d
            docker image prune -f
